<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fantasystock.fantasystock">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- - these lines should be deleted in lieu of our custom Parse builder -->
    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="FantasyStockID" />
    <meta-data
        android:name="com.parse.CLIENT_KEY"
        android:value="FantasyStockKey" />

    <!-- - end of delete -->
    <application
        android:name=".Helpers.FantasyStockApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Activities.OnboardingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".Activities.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SeeMoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WebNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.LeagueActivity" />
        <activity android:name=".Activities.UserProfileActivity"></activity>
    </application>

</manifest>
